.mine-icon.support{display:grid;place-items:center;width:35px;height:35px;margin:0;padding:0;border:0;border-radius:7px;background:#ffa300;color:#fff;font-size:22px;font-style:normal;font-weight:800}
